target/
**/target/
**/*.rs.bk
# Local developer config
# config.toml
private_config.toml
watched_folder/.sync_state.json

# Tauri generated sidecars
/cloud_sync_tauri/binaries/cloud_sync_daemon-*
# Tauri generated icons
/cloud_sync_tauri/icons/icon.ico
/cloud_sync_tauri/icons/128x128.png

backup_config.toml
crates/cloud_sync_tauri/binaries/cloud_sync_daemon-x86_64-pc-windows-msvc.exe
